# Python bytecode & cache
venv/
__pycache__/
*.pyc

# Local application data & outputs
outputs/
dataset_sos/
my_sos_lora_weights/
.vscode/
.idea/

# Large media files (videos)
*.mp4
*.avi
*.mov
*.mkv

# Temporary & Junk files
*.pdf
*.txt
0.8.0
1.13.0
1.17
20.0
2025.10.22
4.60
5.1
peft)
pip
transformers)